body {
    font-family: 'IBM Plex Sans', sans-serif;
    background-color: #d8e2dc;
    color: #495057;
}
.font-title{
    font-family: 'Dancing Script', cursive;
    color: black;
    font-weight: 900;
}
.font-about{
    font-family: 'Syne Mono', monospace;
}
h2, h3 {
    color: black;
}
.button{
    background-color: black;
      color: white;
      padding: 3px 3px;
      border-radius: 4px;
      text-decoration: none;
      line-height: 2.0;
}
.circled {
    border-radius: 5%;
  }
.presentation{
    display: inline-flex;
}
.photo{
    padding: 10px 10px 8px 0px;
    width: 225px;
}
.about{
    padding: 10px;
}
